#map {
  height: 300px;
  width: 100%;
}

/* Creé une boite ou l'on met les anecdotes et avec une ombre */
.Anecdote{
  margin-top: 2%;
  padding: 0%;
  background-color: #b94503;
  border-radius: 5px 5px;
  box-shadow:0 10px 16px 0 rgba(185,68,2,0.2); /* Ombre de la boite */
  padding: 2px;
}

.Anecdote p{
  margin-bottom: 1%;
}

.diapo {
  margin-top: 2%;
  width: 100%;
  border-radius: 5px;
}

iframe {
  height: 450px;
  margin-bottom: 2%;
}
