/* Contrairement aux autres feuilles de styles , celle-ci est reliée a toute les pages */

body {
font-family: 'Roboto Condensed', sans-serif;
color: white;
margin: 0%;
padding: 0%;
background-color: #333333;
}

nav {
  position:fixed;
  z-index: 1000;
  background-color: #ea5c0d;
  width: 100%;
}

nav .main-navigation{
  background-color:#ea5c0d;
  width : 100%;
}

nav ul{
  margin:0; //reset
  padding:0;
}

.menu{
  display:flex;
  flex-direction:column;
}
.menu li{
    display:block;
    list-style-type:none;
    text-transform:uppercase;
    width:100%;
  }

 .menu li a{
    display:flex;
    text-align:center;
    text-decoration:none;
    color:white;
    padding:1rem;

  }


 nav .menu li a:hover{
    background:#b94503;
    color:#fff;
  }


@media (min-width: 800px) {
    nav .menu{
      flex-direction:row;
      justify-content:space-between;
    }

}

nav .menu-item-has-children > a:after{
  font-family:'Genericons';
  padding:1px;
}

nav ul ul {
    display: none;
}

@media (min-width: 800px) {
  nav ul ul {
    display: none;
    position:absolute;
  }
}

nav ul li:hover > ul {
  display:block;
  color:#b94503;
  padding-left:2rem;
}

@media (max-width: 800px){
  nav{
    position:relative;
  }
}

@media (min-width: 800px) {
  nav ul li:hover > ul {
    padding-left:0;
    background:#ea5c0d;
  }

  nav ul li:hover > ul a{
    color:#fff;
  }

  .sub-menu{
    li{
      display:flex;
      padding-right:2em;
    }

    li:hover, li a:hover{
      background:#b94503;
      color:#fff;
    }
  }

 nav ul ul ul{
    margin:0 0 0 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }

.menu-item-has-children .menu-item-has-children > a:after{
    font-family:'Genericons';
    padding:1px;
  }

}

#Ptit {
  opacity : 0;
}
/* conteneur principal contenant le Contenu de la page (difficile a prononcer ce commentaire) */
.Contenu {
  background-color:   #333333 ;
  padding: 3%;
}


hr {
  margin: 5% 0%;
}

/* couleur et taille de la banderole en haut du site */



#language img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 1.5em;
  height: 1.5em;
}

#lang-button img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 1.5em;
  height: 1.5em;
}

#language {
  width:10em;
}

.menu-item-has-children img {
  margin-left:0px;
  padding-top: 0px;
}

.chevron {
  width: 20px;
  height: 20px;
}
