/*On fait en sorte que la page prenne toute la place de l'écran*/

body {
font-family: 'Roboto Condensed', sans-serif;
margin: 0%;
padding: 0%;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;

/*l'image s'adapte a l'écran*/
}

#Titre {
  padding: 5% 2% 2% 0.5%;
  margin: inherit;
  text-align: center;
  color: white;
}

nav {
  width: 100%;
  background-color:  #ea5c0d;
  z-index: 5;
}

nav > ul {
  margin: 0px;
  padding: 0px;
}

nav  li {
  list-style-type: none;
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a{
  padding: 0.7em 0.5em;
  color: white;
}

.submenu {
  display: none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000; /* On donne la priorité au menu */
}

.submenu li {
  border-bottom: 1px solid #CCC;
}

.submenu li a{
  padding: 3% 6%;
  font-size: 13px;
  color: white;
  width: 200px;
}

.Menu > li:hover {
  border-top: 0.2em solid black;
}

.Menu >li:hover a {
  padding: 0.5em 0.5em 0.5em 0.5em
}

.submenu li {
  background-color: #b94503;
}

.submenu li:hover {
  background-color: #f7af3e;
}

.Contenu {
  background-color:   #fefff1 ;
  padding: 3%;
}

iframe {
  height:450px;
}

hr {
  margin: 5% 0%;
}


.Banderole {
    background-color:  #333333;
    min-height: 200px;
    width: 100%
}

.Banderole > table {
    width: 100%
}

#MCN {
  width: 100px;
}
