/*On fait en sorte que la page prenne toute la place de l'écran*/
html {
  height: 100%;
}

body {
font-family: 'Roboto Condensed', sans-serif;
margin: 0%;
padding: 0%;
height: 100%;
background-image: url("Images/angkor_nuit.jpg");
background-size: cover; /*l'image s'adapte a l'écran*/
}

header {
  background-color: red;
  margin-bottom: 0%;
}

h1 {
  padding: 0% 2% 0% 0.5%;
  margin: inherit;
  text-align: center;
}

nav {
  width: 100%;
  background-color: green;
}

nav > ul {
  margin: 0px;
  padding: 0px;
}

nav  li {
  list-style-type: none;
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a{
  padding: 0.7em 0.5em; /* A regler en pourcentage */
  color: #FFF;
}

.submenu {
  display: none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000; /* On donne la priorité au menu */
}

.submenu li {
  border-bottom: 1px solid #CCC;
}

.submenu li a{
  padding: 3% 6%;
  font-size: 13px;
  color: #222538;
  width: 250px;
}

.Menu > li:hover {
  border-top: 0.2em solid #0B3B0B;
}

.Menu >li:hover a {
  padding: 0.5em 0.5em 0.5em 0.5em
}

.submenu li {
  background-color: #00cc00;
}

.submenu li:hover {
  background-color: #009933;
}

.Contenu {
  background-color: white;
  margin: 0% 5% 0% 5%;
  height: 91.85%;
}

h2 {
  margin: 0;
}
